/* Forms */

input,
input[type="text"],
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
	width: 100%;
	padding: 0.5em;
	border: 1px solid var(--body-colour);
	border-radius: 0px;
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	font-family: var(--body-font);
	font-size: 14px;
	font-weight: var(--body-weight);
	line-height: 1.4em;
}

@media screen and (min-width: 992px) {
	input,
	input[type="text"],
	input[type="radio"] + label,
	input[type="checkbox"] + label:before,
	select option,
	select {
		padding: 0.8em;
	}	
}	

select {
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 15px;
}

input:focus {
	outline: 0;
	border-color: var(--primary-colour);
}

input[type="radio"] + label {
	display: inline-block;
	width: 50%;
	text-align: center;
	float: left;
	border-radius: 0;
}

input[type="radio"] + label:first-of-type {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

input[type="radio"] + label:last-of-type {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

input[type="radio"] + label i {
	padding-right: 0.4em;
}

input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
	background-color: var(--white);
	border-color: var(--primary-colour);
}

input[type="checkbox"] {
	display: none !important;
}

input:checked + label:after {
	opacity: 1;
}

select:focus,
select:active {
	outline: 0;
}

label {
	width: 100%;
}

/* Acceptance styling */


.elementor-field-type-acceptance label {
	padding: 0;
	font-size: 0.9em !important;
	line-height: 1.2em !important;
}

.elementor-field-type-acceptance label a {
	color: var(--body-colour);
	text-decoration: underline;
}

.elementor-field-group-terms_checkbox > div label:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 0.5em;
	vertical-align: -5px;
	border: 1px solid var(--body-colour);
	padding: 0.12em;
	background-color: transparent;
	background-clip: content-box;
	transition: all 0.2s ease;
}
.elementor-field-group-terms_checkbox > div label {
	margin-right: 1em;
	position: relative;
}
.elementor-field-group-terms_checkbox > div label:after {
	border-right: 2px solid var(--body-colour);
	border-top: 2px solid var(--body-colour);
	content: "";
	height: 13px;
	left: 2px;
	position: absolute;
	top: 10px;
	transform: scaleX(-1) rotate(135deg);
	transform-origin: left top;
	width: 6px;
	display: none;
}
.elementor-field-group-terms_checkbox > div input:hover + label:before {
	border-color: var(--body-colour);
}
.elementor-field-group-terms_checkbox > div input:checked + label:before {
	border-color: var(--body-colour);
	background: transparent;
}
.elementor-field-group-terms_checkbox > div input:checked + label:after {
	-moz-animation: check 0.8s ease 0s running;
	-webkit-animation: check 0.8s ease 0s running;
	animation: check 0.8s ease 0s running;
	display: block;
	width: 6px;
	height: 13px;
	border-color: var(--body-colour);
}
@keyframes check {
 0% {
 height: 0;
 width: 0;
}
 25% {
 height: 0;
 width: 6px;
}
 50% {
 height: 11px;
 width: 6px;
}
}

/* Checkbox styling */

.elementor-field-group-std_checkboxes > div label:before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 0.5em;
	vertical-align: -5px;
	border: 1px solid var(--body-colour);
	padding: 0.12em;
	background-color: transparent;
	background-clip: content-box;
	transition: all 0.2s ease;
}

.elementor-field-group-std_checkboxes .elementor-field-option {
	margin-top: 15px;
}

.elementor-field-group-std_checkboxes .elementor-field-option:first-of-type {
	margin-top: 0px;
}

.elementor-field-group-std_checkboxes > div label {
	margin-right: 1em;
	position: relative;
}
.elementor-field-group-std_checkboxes > div label:after {
	border-right: 3px solid var(--body-colour);
	border-top: 3px solid var(--body-colour);
	content: "";
	height: 20px;
	left: 2px;
	position: absolute;
	top: 11.5px;
	transform: scaleX(-1) rotate(135deg);
	transform-origin: left top;
	width: 9px;
	display: none;
}
.elementor-field-group-std_checkboxes > div input:hover + label:before {
	border-color: var(--body-colour);
}
.elementor-field-group-std_checkboxes > div input:checked + label:before {
	border-color: var(--body-colour);
	background: transparent;
}
.elementor-field-group-std_checkboxes > div input:checked + label:after {
	-moz-animation: checked 0.3s ease 0s running;
	-webkit-animation: checked 0.3s ease 0s running;
	animation: check 0.3s ease 0s running;
	display: block;
	width: 9px;
	height: 20px;
	border-color: var(--body-colour);
}
@keyframes checked {
 0% {
 height: 0;
 width: 0;
}
 25% {
 height: 0;
 width: 9px;
}
 50% {
 height: 20px;
 width: 9px;
}
}

/* White form */

.white-form label, 
.white-form label *, 
.white-form input, 
.white-form .elementor-field-group-terms_checkbox > div label:after, 
.white-form .elementor-field-group-terms_checkbox > div input:hover + label:before, 
.white-form .elementor-field-group-terms_checkbox > div input:checked + label:before,
.white-form .elementor-field-group-terms_checkbox > div input:checked + label:after,
.white-form .elementor-field-group-std_checkboxes > div input:hover + label:before,
.white-form .elementor-field-group-std_checkboxes > div input:checked + label:before,
.white-form .elementor-field-group-std_checkboxes > div input:checked + label:after,
.white-form .elementor-field-group-std_checkboxes > div label:before,
.white-form textarea,
.white-form button

{
	color: #fff !important;
	border-color: #fff !important;
}

.white-form select {
	filter: invert(1);
}




